{#
 * @copyright 2026 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array department
 * @param array users
 #}
{% extends "html/layouts/default.twig" %}
{% block content %}
<section>
    <header><h1>{{ department.name }}</h1></header>

    <table>
    <tr><th>Title</th>  <td>{{ department.title }}</td></tr>
    <tr><th>DN</th>     <td>{{ department.dn    }}</td></tr>
    <tr><th>Webpage</th>
        <td><a href="{{ DRUPAL_SITE }}{{ department.alias }}">{{ DRUPAL_SITE }}{{ department.alias }}</a></td>
    </tr>
    </table>
</section>

{% if users %}
<section>
    <header><h2>Users</h2></header>
    <table>
    <thead>
        <tr><th>Username</th><th>Role</th></tr>
    </thead>
    <tbody>
        {% for u in users %}
        <tr><td>{{ u.username }}</td>
            <td>{{ u.role     }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</section>
{% endif %}
{% endblock %}
